<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MAIN PAGE</title>
    <!-- <link href="css/style.css" rel="stylesheet"> -->
    <script src="https://unpkg.com/htmx.org@2.0.2" integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ" crossorigin="anonymous"></script>
  </head>
  <body>

    <h1>Hello, {{ .name }}!</h1>

    <button hx-get="/foo">
      Click
    </button>
  
  </body>
</html>
