 {CheckOptions: [ {key: xilinx-tb31-process.TopFunctionName, value: 'fft_8point'}, {key: xilinx-tb31-process.KeepTopName, value: '1'},
{key: xilinx-tb31-process.NewFlow, value: '1'}, {key: xilinx-tb31-process.BCSim, value: '0'} ] } 
