:root {
	--bg: #141617;
	--bg-alt: #282828;
	--fg: #ddc7a1;
	--black: #282828;
	--red: #ea6962;
	--green: #a9b665;
	--yellow: #d8a657;
	--blue: #7daea3;
	--magenta: #d3869b;
	--cyan: #89b482;
	--white: #d4be98;
	--comment: #383838;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #657b83;
  font-family: "Victor Mono", monospace;
  font-weight: bold;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}
code[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
pre[class*="language-"]::-moz-selection {
  background: var(--bg-alt);
}
code[class*="language-"] ::selection,
code[class*="language-"]::selection,
pre[class*="language-"] ::selection,
pre[class*="language-"]::selection {
  background: var(--bg-alt);
}
pre[class*="language-"] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  border-radius: 0.3em;
}
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: var(--bg);
}
:not(pre) > code[class*="language-"] {
  padding: 0.1em;
  border-radius: 0.3em;
}
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: var(--comment);
}
.token.punctuation {
  color: var(--fg);
}
.token.namespace {
  opacity: 0.7;
}
.token.boolean,
.token.constant,
.token.deleted,
.token.number,
.token.property,
.token.symbol,
.token.tag {
  color: var(--fg);
}
.token.attr-name,
.token.builtin,
.token.char,
.token.inserted,
.token.selector,
.token.string,
.token.url {
  color: var(--cyan);
}
.token.entity {
  color: #657b83;
  background: #eee8d5;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--magenta);
}
.token.class-name,
.token.function {
  color: var(--yellow);
}
.token.important,
.token.regex,
.token.variable {
  color: var(--red);
}
.token.bold,
.token.important {
  font-weight: 700;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
