html {
	background-color: #141617;
	color: #ddc7a1;
	font-family: "JetBrainsMono NFM";
	font-weight: 900;
	font-size: 1.5rem;
	margin-left: 4rem;
	margin-right: 4rem;
}

th, td  {
	padding: 0.5rem;
	border: 1px solid #38383866;
	font-size: 0.8rem;
}

table {
	border-collapse: collapse;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #38383866;
  margin: 1em 0;
  padding: 0;
}

::-moz-selection { /* Code for Firefox */
  background: #282828;
}

::selection {
  background: #282828;
}
